{{ define "main" }}
<div style="margin: 0 auto" class="post">
  <style>
    .post-title {
      white-space: pre-line;
    }
  </style>
  <p class="post-title">This site lists the support for the SIXEL graphics format across various terminal emulators. The SIXEL format allows the terminal to display bitmap graphics. See <strong><a href="https://en.wikipedia.org/wiki/Sixel">https://en.wikipedia.org/wiki/Sixel</a></strong> for more information.

    SIXEL support for a terminal can be determined by running the <strong><a href="https://github.com/hackerb9/lsix">lsix</a></strong> command. If SIXEL is not supported, then the message <em>"Error: Your terminal does not report having sixel graphics support."</em> is displayed.
  </p>
  {{ if .Params.tags }}
  <span class="post-tags">
    {{ range .Params.tags }}
    #<a href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}">{{ . }}</a>&nbsp;
    {{ end }}
  </span>
  {{ end }}
  {{ partial "cover.html" . }}

  {{ if (.Params.Toc | default .Site.Params.Toc) }}
    <div class="table-of-contents">
      <h2>
        {{ (.Params.TocTitle | default .Site.Params.TocTitle) | default "Table of Contents" }}
      </h2>
      {{ .TableOfContents }}
    </div>
  {{ end }}

  <div class="post-content">
    {{- with .Content -}}
      <div>
        {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor">&#8983;</a> ${3}` | safeHTML }}
      </div>
    {{- end -}}
  </div>

  {{ if eq .Type $.Site.Params.contentTypeName }}
  {{ partial "posts_pagination.html" . }}
  {{ end }}

  {{ if not (.Params.hideComments | default false) }}
  {{ partial "comments.html" . }}
  {{ end }}
</div>
{{ end }}