<link href="https://fonts.googleapis.com/css?family=Murecho" rel="stylesheet" type="text/css">
<style>
	body {
		word-break: break-word;
	}
	.menu_item {
		display: flex;
		align-items: center;
		line-height: 1em;
	}
	.status {
		display: flex;
		flex-direction: row;
		align-items: center;
		line-height: 1em;
	}
	.unsupported {
		color: #ff4500;
		margin-left: 5px;
		margin-bottom: 9px;
		font-family:'Murecho';
		font-size:1.5em;
		font-weight:bold;
	}
	.supported {
		color: #32cd32;
		margin-right: 2px;
		margin-bottom: 6px;
		font-family:'Murecho';
		font-size:1.5em;
		font-weight:bold;
	}
</style>