<style>
	body {
		word-break: break-word;
	}
	.menu_item {
		display: flex;
		align-items: center;
		line-height: 1em;
	}
	.status {
		display: flex;
		flex-direction: row;
		align-items: center;
		line-height: 1em;
	}
	.supported-svg {
		filter: invert(38%) sepia(70%) saturate(2097%) hue-rotate(200deg) brightness(86%) contrast(90%);
		height: 1rem;
		margin-left: 5px;
	}
	.unsupported-svg {
		filter: invert(16%) sepia(81%) saturate(3669%) hue-rotate(339deg) brightness(104%) contrast(96%);
		height: 1rem;
		margin-left: 5px;
	}
	.alert-svg {
		filter: invert(86%) sepia(76%) saturate(2710%) hue-rotate(321deg) brightness(99%) contrast(97%);
		height: 1rem;
		margin-left: 5px;
	}
</style>