<style>
	body {
		word-break: break-word;
	}
	.menu_item {
		display: flex;
		align-items: center;
		line-height: 1em;
	}
	.status {
		display: flex;
		flex-direction: row;
		align-items: center;
		line-height: 1em;
	}
	.supported-svg {
		filter: invert(59%) sepia(47%) saturate(1122%) hue-rotate(73deg) brightness(102%) contrast(82%);
		height: 1rem;
		margin-left: 5px;
	}
	.unsupported-svg {
		filter: invert(36%) sepia(92%) saturate(3449%) hue-rotate(360deg) brightness(100%) contrast(108%);
		height: 1rem;
		margin-left: 5px;
	}
	.alert-svg {
		filter: invert(89%) sepia(28%) saturate(2122%) hue-rotate(349deg) brightness(83%) contrast(89%);
		height: 1rem;
		margin-left: 5px;
	}
</style>